body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fuente personalizada para todos los h1 (estilo indio :] )*/
@font-face {
    font-family: myFont;
    src: url(../images/SAMAN___.TTF);
}

h1{
    font-family: myFont;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    background-color:rgb(196, 194, 197);
}


.div1 {
    height: min-content;
    grid-column: span 5 / span 5;
    background-color: rgba(239, 144, 31);
    justify-content: center;
    text-align: center;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.div2 {
    width: 60px;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ad5f05;
    padding: 50px;

}

.div2 a {
    margin-bottom: 10px;
}

.div3 {
    width: max-content;
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
    background-color: rgba(7, 7, 7, 0.884);
    /* posicion estática ya que si fuese fixed se movería el pie de página por toda la misma web*/
    position: static; 
    bottom: 0;
    width: auto;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 10px 20px;
    /* flexbox para juntar y apilar */
    display: flex;
    flex-direction: row;
    justify-content:space-between;    
    /* centrado vertical */
    align-items: center;
}


#logo_footer{
    max-height: 80%;
    margin: 0%;
}


/* Configuramos en las tablas de galeria y de tarifas los bordes en el mismo color que el menú y centramos todos los objetos que hay dentro */
#galeria td {
    border: 3px solid #ad5f05;
    padding: 1px;
    text-align: center;
    vertical-align: top;
    position: initial; 
}

#tabla_tarifas td {
    border: 3px solid #ad5f05;
    padding: 1px;
    text-align: center;
    vertical-align: top;
    position: initial;
}


/* iconos RRSS pag: https://uiverse.io/vinodjangid07/horrible-eel-23 */
.card {
width: auto;
margin: 0px;
height: fit-content;
display: flex;
align-items: center;
justify-content: center;
padding: 0px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
width: 100px;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
background-color: #d62976;
transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
background-color: #00acee;
transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
background-color: #0072b1;
transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
background-color: #128C7E;
transition-duration: .3s;
}

.socialContainer:active {
transform: scale(0.9);
transition-duration: .3s;
}

.socialSvg {
width: 17px;
}

.socialSvg path {
fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
0% {
    transform: translateY(-50px);
    opacity: 0;
}

100% {
    transform: translateY(0);
    opacity: 1;
}
}

/* contacto */
.formulario-tabla {
    width: 100%;
    max-width: 200px;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  .tabla-formulario {
    width: 100%;
    border-collapse: collapse;
  }

  .tabla-formulario td {
    padding: 7px;
  }

/* botones muy extra sacado de aqui y editado "https://getcssscan.com/css-buttons-examples" */

.button-73 {
background-color: initial;
background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
height: 40px;
line-height: 40px;
outline: 0;
overflow: hidden;
padding: 0 20px;
pointer-events: auto;
position: relative;
text-align: center;
touch-action: manipulation;
user-select: none;
-webkit-user-select: none;
vertical-align: top;
white-space: nowrap;
width: 30%;
z-index: 9;
border: 0;
transition: box-shadow .2s;
}

.button-73:hover {
box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}